  
  #navlink:hover{
    border-bottom: 4px solid #830DEF;
    transform: scale(1.5);
    transition: all 0.2s;
  
  
  }
  #navhome:hover{
    cursor: pointer;
    border-bottom: 4px solid #830DEF;
    
    transition: all 0.2s;
  }
  #navabout:hover{
    cursor: pointer;
    border-bottom: 4px solid #830DEF;
   
    transition: all 0.2s;
  } 
  #navskills:hover{
    cursor: pointer;
    border-bottom: 4px solid #830DEF;
    
    transition: all 0.2s;
  } 
  #navproject:hover{
    cursor: pointer;
    border-bottom: 4px solid #830DEF;
    
    transition: all 0.2s;
  } 
  #navcontact:hover{
    cursor: pointer;
    border-bottom: 4px solid #830DEF;
    
    transition: all 0.2s;
  } 
  #navgithub:hover{
    cursor: pointer;
    border-bottom: 4px solid #830DEF;
    
    transition: all 0.2s;
  } 
  #profile{

    border-radius: 50%;
     width:15%;
   
   }
   
  